.change-country {
  width: 360px;
  height: 61px;
  padding: 17px 0 18px 25px;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: $white;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.no-stat {
  text-align: center;
  font-size: 2rem;
  color: $navy-color;
}
