@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'layout/reset.scss';
@import 'variables.scss';
@import 'common.scss';
@import './components/day-statistics.scss';
@import './components/top-recovered.scss';
@import './components/error-boundary.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: $light-blue;
}

.main-container {
  height: 100vh;
  box-sizing: border-box;
  padding: 66px 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 768px) {
  .main-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 1170px;
  }
}
